// Variables
@import "variables";

@import '~bootstrap/scss/bootstrap';

@import url('https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


/* Header */

.navbar-laravel {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 2px solid #00b5ad;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    .active {
        background-color: #EFF6FA;
    }
}


#logo {
    margin-right: 200px;
}





/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #3C4245;
    z-index: -1;
}


/* 搜索插件 bootstrap-3-typeahead 样式 */

.typeahead {
    width: 100%;
    background-color: #6c757d;

    li {
        .dropdown-item {
            color: #f8f9fa;
        }

        a:hover {
            color: #6c757d;
        }
    }
}


/** 侧边栏跟随 */
.sidebar-follows {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}